In [1]:
print("hello world")

hello world

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
df=pd.read_csv('glass.csv')
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [4]:
df_cleaned=df.dropna()
x=df_cleaned.drop(columns=['Type'])
y=df_cleaned['Type']
print(x.shape)
print(y.shape)

(214, 9)
(214,)

In [6]:
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.3, random_state=42)

In [7]:
from sklearn.naive_bayes import GaussianNB
Nb=GaussianNB()
Nb.fit(x,y)
y_pred=Nb.predict(x_test)
from sklearn.metrics import confusion_matrix, accuracy_score,classification_report
accuracy=accuracy_score(y_test, y_pred)
classif=classification_report(y_test, y_pred)
conf=confusion_matrix(y_test, y_pred)
print("accuracy:",accuracy)
print("confusion matrix:\n",conf)
print("classification report\n",classif)

accuracy: 0.5384615384615384
confusion matrix:
 [[14  1  4  0  0  0]
 [13  5  2  0  2  1]
 [ 2  0  2  0  0  0]
 [ 0  5  0  1  0  0]
 [ 0  0  0  0  3  0]
 [ 0  0  0  0  0 10]]
classification report
               precision    recall  f1-score   support

           1       0.48      0.74      0.58        19
           2       0.45      0.22      0.29        23
           3       0.25      0.50      0.33         4
           5       1.00      0.17      0.29         6
           6       0.60      1.00      0.75         3
           7       0.91      1.00      0.95        10

    accuracy                           0.54        65
   macro avg       0.62      0.60      0.53        65
weighted avg       0.58      0.54      0.50        65